.hidden {
  display: none !important;
}

.container {
  margin: auto;
}

.row {
  display: flex;
}

.column-full {
  width: 100%;
}

.card-column {
  width: 100%;
  margin: 1rem auto;
}

/* MEDIA QUERIES */

@media screen and (min-width: 375px) {
  .card-column {
    width: 45%;
  }
}

@media screen and (min-width: 575px) {
  .card-column {
    width: 25%;
    margin: 1.5rem auto;
    transform: scale(1.03);
  }
}

@media screen and (min-width: 768px) {
  .card-column {
    width: 18%;
    margin: 2.5rem auto;
    transform: scale(1.1);
  }
}

@media screen and (min-width: 1000px) {
  .card-column {
    margin: 5rem auto;
    transform: scale(1.4);
  }
}
