.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden !important;
}

.container {
  margin: auto;
}

.row {
  display: flex;
}

.column-full {
  width: 100%;
}

.column-nine-tenth {
  width: 90%;
}

.card-column {
  width: 45%;
  margin: 1rem auto;
  transform: scale(0.8);
}

/* MEDIA QUERIES */

@media screen and (min-width: 375px) {
  .card-column {
    transform: scale(1);
  }
}

@media screen and (min-width: 575px) {
  .card-column {
    width: 25%;
    margin: 1.5rem auto;
    transform: scale(1.03);
  }
}

@media screen and (min-width: 768px) {
  .card-column {
    width: 19.25%;
    margin: 2.5rem auto;
    transform: scale(1.1);
  }
}

@media screen and (min-width: 1220px) {
  .card-column {
    margin: 5rem auto;
    transform: scale(1.4);
  }
}
