/* stylelint-disable selector-class-pattern */

:root {
  --card-color: rgba(255 255 255 / 0.93);
  --character-name-border: #c4c4c4;
}

/* BASE CSS SELECTORS */

body {
  font-family: Roboto, sans-serif;
}

header {
  position: relative;
}

footer {
  position: relative;
}

h1 {
  font-size: 1rem;
  text-transform: capitalize;
}

h2,
h3,
h4 {
  text-transform: capitalize;
}

h4 {
  font-size: 0.9rem;
}

table {
  text-transform: capitalize;
  box-shadow: 0 2px 5px 1px rgb(15, 15, 15);
  border-radius: 12px;
  overflow-y: scroll;
  scrollbar-width: none;
}

th,
td {
  padding: 0.5rem;
}

th {
  text-align: left;
  font-size: 0.9rem;
  border-bottom: 1px solid var(--character-name-border);
  box-shadow: 0 1px 4px rgba(0 0 0 / 0.1);
}

td {
  font-size: 0.85rem;
  border-bottom: 1px solid var(--character-name-border);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

/* HEADER SECTION */

.navbar-top {
  color: white;
  background-color: black;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  box-shadow: 0 2px 5px 1px rgb(15, 15, 15);
}

.navbar-top > .row {
  justify-content: space-between;
  align-items: center;
}

.house-icon {
  padding: 0.75rem;
  transition: transform 200ms, color 200ms;
}

.house-icon:hover {
  transform: scale(1.3);
  color: rgb(180, 180, 180);
}

.background-img-layout {
  position: fixed;
  top: 5%;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: 85vh;
  height: 100vh;
  opacity: 0.8;
}

.character-card {
  position: relative;
  background-color: var(--card-color);
  border-radius: 12px;
  box-shadow: 0 4px 5px 4px black;
  transition: transform 150ms, background-color 100ms;
  cursor: pointer;
}

.character-card:hover {
  transform: translateY(5%);
  background-color: rgba(255 255 255 / 100%);
}

.character-card:active {
  transform: scale(0.98);
}

.character-card__number {
  font-size: 1.25rem;
  font-weight: bold;
  position: absolute;
  top: 1px;
  left: 3px;
  z-index: 9998;
}

.character-card__img {
  border-bottom: 1.5px solid var(--character-name-border);
}

.character-card__name {
  font-size: 0.8rem;
  text-align: center;
}

/* CHARACTER DETAILS MODAL */

.modal-layout {
  background-color: var(--card-color);
  position: fixed;
  top: 15%;
  right: 5%;
  left: 5%;
  border-radius: 12px;
  box-shadow: 0 4px 5px 4px black;
}

.name-border-length {
  font-size: 1.2rem;
  border-bottom: 1.5px solid var(--character-name-border);
  text-align: center;
}

.character-name__details {
  font-size: 1.2rem;
}

/* MEDIA QUERIES */

@media screen and (min-width: 375px) {
  h1 {
    font-size: 1.1rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  th {
    font-size: 1.1rem;
  }

  td {
    font-size: 1rem;
  }

  .house-icon {
    font-size: 1.3rem;
  }

  .character-name__details {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 575px) {
  h1 {
    font-size: 1.3rem;
  }

  h4 {
    font-size: 1.4rem;
  }

  th {
    font-size: 1.2rem;
  }

  td {
    font-size: 1.1rem;
  }

  .house-icon {
    font-size: 1.6rem;
  }

  .character-name__details {
    font-size: 2.4rem;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 1.6rem;
  }

  .modal-layout {
    top: 18%;
  }

  .house-icon {
    font-size: 2rem;
  }
}
