/* stylelint-disable selector-class-pattern */

/* BASE CSS SELECTORS */

header {
  margin: 0 auto 5rem;
}

main {
  margin: auto;
}

h4 {
  margin: 1rem 0;
}

p {
  margin: 0;
}

img {
  width: 100%;
  max-width: 100%;
}

table {
  display: block;
  height: 200px;
  margin: 0 auto 0.5rem;
  max-width: fit-content;
}

/* HEADER SECTION */

.header-layout {
  padding: 0.5rem 1rem;
}

/* MAIN SECTION */

.content-layout {
  margin: auto;
  width: 90%;
  flex-wrap: wrap;
  gap: 7.5%;
  justify-content: space-evenly;
  align-items: center;
}

.character-card {
  margin: auto;
  padding: 0 1rem;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 200px;
}

.character-card-name {
  margin: 0;
  padding: 0.5rem 0;
}

.character-card-img {
  width: 160px;
  height: 160px;
}

.no-favorites {
  padding: 2rem;
  max-width: min(80%, 500px);
}

.home-anchor {
  margin-top: 2rem;
  padding: 0.5rem 1rem;
}

.error-message-list {
  width: 80%;
  margin: auto;
  padding: 1rem;
}

/* CHARACTER DETAILS MODAL */

.modal-layout {
  max-width: 300px;
  min-height: 50vh;
  margin: auto;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
}

.img-div-details {
  text-align: center;
  margin: auto;
  width: 60%;
}

.character-img {
  width: 160px;
  height: 160px;
}

.name-border-length {
  width: 70%;
  margin: 0 auto;
}

.character-name-details {
  margin: 0;
}

.error-message-data {
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  padding: 1rem;
}

.reload-button {
  margin-bottom: 1.5rem;
  padding: 0.5rem 1.25rem;
}

/* LOADING SPINNER */

.lds-spinner-div {
  margin: auto;
  justify-content: center;
  align-items: center;
}

/* UTILITY CLASSES */

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.margin-auto {
  margin: auto;
}

@media screen and (min-width: 375px) {
  header {
    margin: 0 auto 6rem;
  }

  .header-layout {
    padding: 0.5rem 1.5rem;
  }

  .error-message-list {
    max-width: 300px;
  }

  .modal-layout {
    max-width: 400px;
    padding: 0.5rem 1rem;
  }

  .character-img {
    width: 200px;
    height: 200px;
  }

  .no-favorites {
    padding: 3rem 2rem;
  }

  .home-anchor {
    margin-top: 2.5rem;
  }
}

@media screen and (min-width: 575px) {
  header {
    margin: 0 auto 6.5rem;
  }

  .error-message-list {
    max-width: 400px;
  }

  .modal-layout {
    max-width: 450px;
  }

  .character-img {
    width: 240px;
    height: 240px;
  }

  .home-anchor {
    margin-top: 3rem;
  }
}

@media screen and (min-width: 768px) {
  .error-message-list {
    max-width: 450px;
  }

  .no-favorites {
    padding: 4rem 2rem;
  }

  .home-anchor {
    margin-top: 3.5rem;
  }
}

/* git commit -m "Utilized flexbox to reduce the amount of media
queries required for loading spinner and error messages" */
