.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden !important;
}

.column-full {
  width: 100%;
}

.column-nine-tenth {
  width: 90%;
}

.card-column {
  margin: 1rem auto;
}

@media screen and (min-width: 1220px) {
  .card-column {
    margin: 1.5rem auto;
  }
}
