.fighter-details {
  border-radius: 4px;
  z-index: 1;
}

.arrow-icon-left {
  position: fixed;
  top: 17.5%;
  left: 10%;
}

.arrow-icon-right {
  position: fixed;
  top: 17.5%;
  right: 10%;
}

.arrow-icons {
  font-size: 2rem;
  transition: 200ms ease-in opacity;
  z-index: 3;
}

.arrow-icons:hover,
.arrow-icons:active {
  opacity: 0.85;
}

.fighter-details-img {
  background-color: rgb(225, 225, 225);
  box-shadow: var(--character-name-border);
  user-select: none;
}

.frame-data-backdrop {
  background-color: #0000000b;
}

.options-bar {
  padding: 1rem;
  position: fixed;
  bottom: 5%;
  right: 1%;
}

@media screen and (min-width: 575px) {
  .arrow-icons {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 768px) {
  .arrow-icons {
    font-size: 3rem;
  }
  .up-arrow {
    right: 0.25%;
  }
}

@media screen and (min-width: 1200px) {
  .arrow-icons {
    font-size: 4rem;
  }
}
