.profile-icon {
  font-size: 1.5rem;
  color: black;
  transition: transform 400ms, color 500ms;
}

.profile-icon:hover {
  transform: scale(1.2);
}

.profile-logged-in {
  padding: 6px;
  border-radius: 50rem;
  border: 2.5px solid black;
}
