/* stylelint-disable selector-class-pattern */

:root {
  --card-color: rgba(255 255 255 / 0.93);
  --character-name-border: #c4c4c4;
  --heart-color: rgb(245, 76, 104);
  --typical-box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.4);
}

/* BASE CSS SELECTORS */

body {
  font-family: Roboto, sans-serif;
  line-height: 1.6;
}

h1 {
  font-size: 1rem;
  text-transform: capitalize;
  line-height: 1.2;
}

h2,
h3,
h4 {
  text-transform: capitalize;
}

h4 {
  font-size: 0.9rem;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
}

i {
  cursor: pointer;
}

/* HEADER SECTION */

.navbar-top {
  color: white;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 4;
  box-shadow: 0 2px 2px 1px rgb(15, 15, 15, 0.5);
}

.house-icon {
  color: white;
  transition: transform 200ms, color 200ms;
}

.house-icon:hover {
  transform: scale(1.3);
  color: rgb(45, 96, 198);
}

.heart-icon-list {
  font-size: 1.3rem;
  color: white;
  transition: transform 400ms, color 500ms;
}

.heart-icon-list:hover {
  transform: scale(1.5);
  color: var(--heart-color);
}

/* MAIN SECTION */

.background-img-layout {
  position: fixed;
  top: 5%;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: 85vh;
  height: 100vh;
  z-index: -1;
}

.character-card {
  position: relative;
  background-color: var(--card-color);
  border-radius: 4px;
  box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.4);
  transition: transform 150ms, background-color 100ms;
  cursor: pointer;
}

.character-card:hover,
.character-card:active {
  box-shadow:
  0 2px 3px 2px rgba(0, 0, 0, 0.4),
  inset 0 0 0 4px rgba(200, 200, 200, 0.5);
  background-color: rgba(255 255 255 / 100%);
}

.character-card-number {
  font-size: 1.1rem;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 7px;
  z-index: 3;
}

.character-card-img {
  border-bottom: 1.5px solid var(--character-name-border);
}

.character-card-name {
  font-size: 0.7rem;
  text-align: center;
  font-weight: bold;
}

.card-heart {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 1.25rem;
  color: grey;
  transition: 200ms ease-in transform;
}

.card-heart:hover,
.card-heart:active {
  transform: scale(1.2);
}

.card-heart-favorited {
  color: var(--heart-color);
  transform: scale(1.2);
}

.card-heart-favorited:hover {
  opacity: 0.75;
}

.home-anchor {
  color: white;
  background-color: var(--heart-color);
  border-radius: 4px;
  box-shadow: 0 2px 5px 0.5px rgb(160, 160, 160);
  transition: transform 200ms;
}

.home-anchor:hover,
.home-anchor:active {
  transform: scale(1.2);
}

/* CHARACTER DETAILS PAGE */

.fighter-details {
  border-radius: 4px;
  z-index: 1;
}

.fighter-details-icons {
  font-size: 2rem;
}

.fighter-details-icons:hover,
.fighter-details-icons:active {
  opacity: 0.85;
}

.fighter-details-img {
  background-color: rgb(225, 225, 225);
  box-shadow: var(--character-name-border);
}

.frame-data-backdrop {
  background-color: #0000000b;
}

/* MEDIA QUERIES */

@media screen and (min-width: 375px) {
  h1 {
    font-size: 1.1rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  .heart-icon-list {
    font-size: 1.4rem;
  }

  .house-icon {
    font-size: 1.3rem;
  }

  .character-card-name {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 575px) {
  h1 {
    font-size: 1.3rem;
  }

  h4 {
    font-size: 1.4rem;
  }

  .heart-icon-list {
    font-size: 1.6rem;
  }

  .house-icon {
    font-size: 1.6rem;
  }

  .character-card-number {
    font-size: 1.5rem;
  }

  .card-heart {
    top: 8px;
    right: 8px;
    font-size: 1.5rem;
  }

  .character-card-name {
    font-size: 1rem;
  }
  .fighter-details-icons {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 1.6rem;
  }

  .heart-icon-list {
    font-size: 2rem;
  }

  .house-icon {
    font-size: 2rem;
  }

  .card-heart {
    font-size: 1.8rem;
  }

  .fighter-details-icons {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1200px) {
  .fighter-details-icons {
      font-size: 4rem;
    }
}
/* UTILITY CLASSES */

.typical-box-shadow {
  box-shadow: var(--typical-box-shadow);
}
